In [50]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [61]:
import pandas as pd
ems = pd.read_csv('Ems_data.csv')
low_memory=False
ems.dtypes

CAD_INCIDENT_ID                     int64
INCIDENT_DATETIME                  object
INITIAL_CALL_TYPE                  object
INITIAL_SEVERITY_LEVEL_CODE         int64
FINAL_CALL_TYPE                    object
FINAL_SEVERITY_LEVEL_CODE           int64
FIRST_ASSIGNMENT_DATETIME          object
VALID_DISPATCH_RSPNS_TIME_INDC     object
DISPATCH_RESPONSE_SECONDS_QY        int64
FIRST_ACTIVATION_DATETIME          object
FIRST_ON_SCENE_DATETIME            object
VALID_INCIDENT_RSPNS_TIME_INDC     object
INCIDENT_RESPONSE_SECONDS_QY      float64
INCIDENT_TRAVEL_TM_SECONDS_QY     float64
FIRST_TO_HOSP_DATETIME             object
FIRST_HOSP_ARRIVAL_DATETIME        object
INCIDENT_CLOSE_DATETIME            object
HELD_INDICATOR                     object
INCIDENT_DISPOSITION_CODE         float64
BOROUGH                            object
INCIDENT_DISPATCH_AREA             object
ZIPCODE                           float64
POLICEPRECINCT                    float64
CITYCOUNCILDISTRICT               float64
COMMUNITYDISTRICT                 float64
COMMUNITYSCHOOLDISTRICT           float64
CONGRESSIONALDISTRICT             float64
REOPEN_INDICATOR                   object
SPECIAL_EVENT_INDICATOR            object
STANDBY_INDICATOR                  object
TRANSFER_INDICATOR                 object
dtype: object

In [3]:
ems = ems[['INCIDENT_DATETIME', 'INITIAL_CALL_TYPE', 'INITIAL_SEVERITY_LEVEL_CODE', 'FINAL_CALL_TYPE', 'BOROUGH', 'ZIPCODE']]

In [43]:
ems.tail()

,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,BOROUGH,ZIPCODE
8557843,12/31/2018 09:22:44 PM,OTHER,6,OTHER,MANHATTAN,10027.0
8557844,12/31/2018 10:12:43 PM,SHOT,3,SHOT,BRONX,10466.0
8557845,12/31/2018 10:33:43 PM,OTHER,6,OTHER,BRONX,10462.0
8557846,12/31/2018 11:00:43 PM,OTHER,6,OTHER,BROOKLYN,11207.0
8557847,12/31/2018 11:31:55 PM,UNKNOW,4,UNKNOW,RICHMOND / STATEN ISLAND,10310.0

In [83]:
#date_format = "%Y-%m-%dT%H:%M:%S.%f"
#s= datetime.strptime(ems['INCIDENT_DATETIME'], date_format)

#ems = ems.ems(400)
ems['INCIDENT_DATETIME'] = pd.to_datetime(ems['INCIDENT_DATETIME'])
ems = ems.astype({'INCIDENT_DATETIME': 'datetime64'})
ems.dtypes

CAD_INCIDENT_ID                            int64
INCIDENT_DATETIME                 datetime64[ns]
INITIAL_CALL_TYPE                         object
INITIAL_SEVERITY_LEVEL_CODE                int64
FINAL_CALL_TYPE                           object
FINAL_SEVERITY_LEVEL_CODE                  int64
FIRST_ASSIGNMENT_DATETIME                 object
VALID_DISPATCH_RSPNS_TIME_INDC            object
DISPATCH_RESPONSE_SECONDS_QY               int64
FIRST_ACTIVATION_DATETIME                 object
FIRST_ON_SCENE_DATETIME                   object
VALID_INCIDENT_RSPNS_TIME_INDC            object
INCIDENT_RESPONSE_SECONDS_QY             float64
INCIDENT_TRAVEL_TM_SECONDS_QY            float64
FIRST_TO_HOSP_DATETIME                    object
FIRST_HOSP_ARRIVAL_DATETIME               object
INCIDENT_CLOSE_DATETIME                   object
HELD_INDICATOR                            object
INCIDENT_DISPOSITION_CODE                float64
BOROUGH                                   object
INCIDENT_DISPATCH_AREA                    object
ZIPCODE                                  float64
POLICEPRECINCT                           float64
CITYCOUNCILDISTRICT                      float64
COMMUNITYDISTRICT                        float64
COMMUNITYSCHOOLDISTRICT                  float64
CONGRESSIONALDISTRICT                    float64
REOPEN_INDICATOR                          object
SPECIAL_EVENT_INDICATOR                   object
STANDBY_INDICATOR                         object
TRANSFER_INDICATOR                        object
day                                      float64
month                                    float64
dtype: object

In [84]:
#example = ems.iloc[53]
#example['INCIDENT_DATETIME'].hour

def getDay(date):
    return date.day

ems['day']=ems['INCIDENT_DATETIME'].apply(getDay)

def getMonth(date):
    return date.month

ems['month']=ems['INCIDENT_DATETIME'].apply(getMonth)

def getYear(date):
    return date.year

ems['year']=ems['INCIDENT_DATETIME'].apply(getYear)

In [86]:
ems.tail(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,day,month,year
8557828,183651412,2018-12-31 10:37:02,OTHER,6,OTHER,6,NaN,N,0,NaN,...,502.0,31.0,11.0,N,N,N,N,31,12,2018
8557829,183651471,2018-12-31 10:56:53,UNKNOW,4,UNKNOW,4,NaN,N,0,NaN,...,212.0,11.0,16.0,N,N,N,N,31,12,2018
8557830,183651756,2018-12-31 12:20:00,OTHER,6,OTHER,6,NaN,N,0,NaN,...,401.0,30.0,14.0,N,N,N,N,31,12,2018
8557831,183651960,2018-12-31 13:15:12,INJURY,5,INJURY,5,12/31/2018 01:15:33 PM,Y,21,12/31/2018 01:15:41 PM,...,410.0,27.0,5.0,N,N,N,N,31,12,2018
8557832,183652134,2018-12-31 13:56:47,OTHER,6,OTHER,6,NaN,N,0,NaN,...,111.0,5.0,13.0,N,N,N,N,31,12,2018
8557833,183652281,2018-12-31 14:29:23,OTHER,6,OTHER,6,NaN,N,0,NaN,...,107.0,3.0,10.0,N,N,N,N,31,12,2018
8557834,183652312,2018-12-31 14:36:05,UNKNOW,4,INJURY,5,12/31/2018 02:36:14 PM,Y,9,12/31/2018 02:36:23 PM,...,111.0,4.0,13.0,N,N,N,N,31,12,2018
8557835,183652325,2018-12-31 14:38:49,UNKNOW,4,UNKNOW,4,NaN,N,0,NaN,...,111.0,4.0,13.0,N,N,N,N,31,12,2018
8557836,183652545,2018-12-31 15:41:11,OTHER,6,OTHER,6,NaN,N,0,NaN,...,107.0,3.0,10.0,N,N,N,N,31,12,2018
8557837,183652774,2018-12-31 16:44:11,EDP,7,EDP,7,12/31/2018 04:44:11 PM,Y,0,12/31/2018 04:44:11 PM,...,105.0,2.0,12.0,N,N,N,N,31,12,2018
8557838,183652967,2018-12-31 17:36:39,SEIZR,3,SEIZR,3,12/31/2018 05:36:58 PM,Y,19,12/31/2018 05:37:15 PM,...,101.0,2.0,10.0,N,N,N,N,31,12,2018
8557839,183653206,2018-12-31 18:51:34,OTHER,6,OTHER,6,NaN,N,0,NaN,...,401.0,30.0,12.0,N,N,N,N,31,12,2018
8557840,183653378,2018-12-31 19:38:45,OTHER,6,OTHER,6,NaN,N,0,NaN,...,105.0,2.0,12.0,N,N,N,N,31,12,2018
8557841,183653711,2018-12-31 21:05:42,SICK,6,SICK,6,NaN,N,0,NaN,...,212.0,11.0,16.0,N,N,N,N,31,12,2018
8557842,183653757,2018-12-31 21:17:46,INJURY,5,INJURY,5,NaN,N,0,NaN,...,305.0,19.0,8.0,N,N,N,N,31,12,2018
8557843,183653775,2018-12-31 21:22:44,OTHER,6,OTHER,6,NaN,N,0,NaN,...,110.0,5.0,13.0,N,N,N,N,31,12,2018
8557844,183653969,2018-12-31 22:12:43,SHOT,3,SHOT,3,NaN,N,0,NaN,...,212.0,11.0,16.0,N,N,N,N,31,12,2018
8557845,183654050,2018-12-31 22:33:43,OTHER,6,OTHER,6,NaN,N,0,NaN,...,209.0,11.0,14.0,N,N,N,N,31,12,2018
8557846,183654167,2018-12-31 23:00:43,OTHER,6,OTHER,6,NaN,N,0,NaN,...,305.0,19.0,8.0,N,N,N,N,31,12,2018
8557847,183654276,2018-12-31 23:31:55,UNKNOW,4,UNKNOW,4,NaN,N,0,NaN,...,501.0,31.0,11.0,N,N,N,N,31,12,2018

In [60]:
#ems2016= ems["INCIDENT_DATETIME"]
#ems2016.dtypes

dtype('O')

In [93]:
ems2016 = ems[(ems['year']>2016) & (ems['year']<2019)]
ems2016.head()

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,day,month,year
5527474,170010907,2017-01-01 02:34:02,EDP,7,EDP,7,NaN,N,0,NaN,...,202.0,8.0,15.0,N,N,N,N,1,1,2017
5527608,170011205,2017-01-01 03:28:49,INJURY,5,DRUG,4,01/01/2017 03:31:02 AM,Y,133,01/01/2017 03:31:45 AM,...,NaN,NaN,NaN,N,N,N,N,1,1,2017
5527721,170011285,2017-01-01 03:43:55,EDP,7,EDP,7,NaN,N,0,NaN,...,210.0,11.0,16.0,N,N,N,N,1,1,2017
5527946,170011431,2017-01-01 04:12:29,INJURY,5,INJURY,5,01/01/2017 04:15:29 AM,Y,180,01/01/2017 04:15:44 AM,...,205.0,9.0,13.0,N,N,N,N,1,1,2017
5528217,170011432,2017-01-01 04:12:37,CARD,3,CARD,3,01/01/2017 04:12:55 AM,Y,18,01/01/2017 04:13:09 AM,...,203.0,12.0,15.0,N,N,N,N,1,1,2017

In [ ]:
ems['INCIDENT_DATETIME']= pd.date_range('2018')